<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings>
    <add name="GD1C2015" connectionString="Data Source=(LOCAL)\SQLSERVER2008;Initial Catalog=GD1C2015;User ID=gd; Password=gd2015"/>
  </connectionStrings>
  <appSettings>
    <add key="fechaSistema" value="31/12/2017 14:20:13"/>
  </appSettings>
</configuration>
